.navbarHome {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  z-index: 80;
  background-color: transparent;
  transition: all ease-in-out 0.25s, background-color 0.1s;
  border-bottom: 0;
}

.navbarScrolled {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 80;
  background-color: var(--grey-white);
  height: 64px;
  transition: all ease-in-out 0.5s;
  border-bottom: solid 1px var(--grey-light);

  .navbarWrapper a,
  .navbarWrapper svg {
    color: var(--grey-darker);
  }

  #logoNavbar {
    height: 32px;
  }
}

.navbarWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  width: var(--main-width);
  margin: 0 auto;
  align-items: center;

  #logoNavbar {
    height: 32px;
  }
}

.menuWrapper {
  display: flex;
  flex-direction: row;
  gap: 48px;
  ul {
    list-style-type: none;

    a {
      text-decoration: none;
    }
  }
}

.menuItems {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 32px;

  svg {
    font-size: 20px;
  }

  a {
    color: var(--grey-white);
    font-size: 16px;
    line-height: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;

    &:hover {
      font-weight: 600;
    }
  }
}

.iconsItems {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 24px;

  svg {
    font-size: 28px;
    color: var(--grey-white);
  }

  .checkoutButton {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    .checkoutNumber {
      color: var(--grey-white);
      font-size: 12px;
      line-height: 20px;
      border-radius: 4px;
      background-color: var(--red-normal);
      padding: 0 6px 1px;
      text-align: center;
    }
  }
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.tooltipAccount {
  z-index: 80;
  background-color: #fff;
  border: solid 1px var(--grey-darker);
  padding: 12px 16px;
  border-radius: 8px;
}

.accountItems {
  display: flex;
  flex-direction: column;
  gap: 8px;

  a,
  button {
    color: var(--grey-darker);
    font-size: 16px;

    &:hover {
      font-weight: 700;
      cursor: pointer;
    }
  }
}
